.contenedor{
    margin: 0;
    padding: 0;
}
#containerHome{
   
    display: flex;
    align-items: center;
    display: inline-block;
}
.imgContainer{
   
   display: inline-block;
   padding: 2rem;
}
.img{
    width: 80%;
    border-radius: 3rem;
}

